<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>

<appSettings>
	<add key="StrConexionMorasol" value="Provider=OraOLEDB.Oracle.1;User Id=MORASOL;Password=MORASOL;Data Source = PORTATIL"/>
	<add key="StrConexionHotel" value="Provider=OraOLEDB.Oracle.1;User Id=RMC10;Password=RMC;Data Source = PORTATIL"/>
  <add key="FileReservas" value="C:\A\RESERVAS.TXT"/>
</appSettings>



</configuration>
